.desktop-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 66px 20px;
    width: 232px;
    height: 100%;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    gap: 103px;
}

.logoTemplate {
    width: 100.03px;
    height: 121.97px;

}

.desktop-template-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 232px;
    height: 229px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.desktop-template-menu-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 53px;
    gap: 20px;
    width: 232px;
    height: 46px;
    cursor: pointer;
}

.desktop-template-icon-active {
    background-color: #f40d0d;
    border-right: 5px solid #29abe2;
}

.desktop-template-font {
    width: 53px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    white-space: nowrap;
    
}

.svg-icon {
    fill: #CDCDCD;
}

.svg-icon-aktive {
    fill: #29abe2 !important;
}

.second-container-desktopTemplateMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


