/* @media (max-width: 280px) {
    .desktopTemplate {
            display: flex;
            height: 80px;
            justify-content: center;
            align-items: center;
            gap: -15px;
            background: #1468df;
    }
} */